/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --colorBlue : #421CEF;
    --colorBgtheme : #343541;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
body{
    overflow-x: hidden;
    position: relative;
    background-color: var(--colorBgtheme);
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

.notActive{
    display: none !important;
}
.active{
    display: block !important;
}

.clrBlue{
    color: var(--colorBlue) !important;
}
.borderBlue{
    border-color: var(--colorBlue) !important; 
}
.darken{
    filter: brightness(35%);
}
/* ***************************************************************************** */

/*=================================== Landing Page =============================*/
.wrapperOne{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    /* background-color: black; */
}
.landingPage{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 1500px;
    padding: 20px 70px;
    margin: 0 auto;

    color: white;
    background-image: radial-gradient(
        farthest-corner at 40px 40px,
        rgb(3, 2, 2) 30%,rgb(48, 42, 140) 60%,rgb(24, 24, 66) 100%
    );

}
/* ************ Logo Head */
.landingPage h2.head{
    padding: 20px 0;
    font-size: 25px;
}
.landingPage h2.head i{
    font-size: 20px;
}
/* ************ L-R Box  */
.landingPage .box{
    margin-top: 50px;
    display: flex;
}
.landingPage .box .lhs,
.landingPage .box .rhs{
    width: 50%;
    height: 400px;
}
/* *********** Left Box */
.landingPage .box .lhs{
    padding-right: 20px;
    padding-top: 120px;
}
.landingPage .box .lhs span{
    display: inline-block;
    width: 90%;
    font-size: 35px;
    font-weight: 500;
}
/* ********** Right Box */
.landingPage .box .rhs{
    text-align: center;
    max-width: 500px;
    padding: 20px 40px;

    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.064);
    background-color: rgba(15, 11, 11, 0.816);
}
.landingPage .box .rhs h1{
    margin-bottom: 10px;
    font-size: 33px;
}
.landingPage .box .rhs .btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.landingPage .box .rhs .btnDiv button{
    width: 50%;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--colorBlue);
    color: white;
}
.landingPage .box .rhs .btnDiv button:hover{
    cursor: pointer;
    background-color: blue;
}
.landingPage .box .rhs h2{
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
.landingPage .box .rhs h2 i{
    margin-right: 5px;
    font-size: 25px;
}
.landingPage .box .rhs .links{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 200;
}
.landingPage .box .rhs .links a{
    color: rgb(201, 200, 200);
}
.landingPage .box .rhs .links span{
    padding: 0 10px;
}

@media screen and (max-width:1000px){
    .landingPage .box .lhs{
        padding-right: 10px;
        padding-top: 80px;
    }
    .landingPage .box .rhs h1{
        font-size: 27px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:800px){
    .landingPage .box .lhs span{
        font-size: 30px;
    }
}
@media screen and (max-width:750px){
    .wrapperOne{
        height: auto;
    }
    .landingPage .box{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .landingPage .box .lhs{
        width: 100%;
        height: 200px;
        padding-right: 0;
        padding-top: 20px;
    }
    .landingPage .box .lhs span{
        font-size: 27px;
    }
    .landingPage .box .rhs{
        width: 100%;
    }
}
@media screen and (max-width:550px){
    .landingPage{
        padding: 20px 30px;
    }
    .landingPage .box .lhs span{
        font-size: 23px;
    }
    
}
@media screen and (max-width:450px){
    .landingPage{
        padding: 20px 30px 50px 30px;
    }
    .landingPage .box .rhs{
        height: 440px;
        padding: 20px 20px;
    } 
    .landingPage .box .rhs .btnDiv{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .landingPage .box .rhs h1{
        font-size: 23px;
    }
    .landingPage .box .rhs .btnDiv button{
        width: 100%;
        height: 45px;
    }
}
/*=========================================================================*/
























/* ============================ Login/signup Page ====================*/
.wrapperTwo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: white;
    background-image: radial-gradient(
        farthest-corner at 40px 40px,
        rgb(3, 2, 2) 30%,rgb(7, 4, 50) 60%,rgb(8, 8, 43) 100%
    );
}
/* ************ Back button */
.wrapperTwo .goBack{
    padding: 10px 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.325);
}
.wrapperTwo .goBack:hover{
    background-color: rgba(255, 255, 255, 0.092);
    cursor: pointer;
}

.loginSignup{
    margin: auto !important;
    width: 360px;
    padding: 20px;
}
.loginSignup .logo,
.loginSignup .head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginSignup .logo img{
    height: 25px;
}
.loginSignup .head h1{
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 25px;
}
.loginSignup .email fieldset{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 6px;
    border: 1.5px solid white;
} 
.loginSignup .email fieldset:hover{
    cursor: text;
}
.loginSignup .email fieldset legend{
    margin-left: -8px;
    padding: 0 3px;
    color: white;
} 
.loginSignup .email fieldset input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;

} 
.loginSignup .email fieldset input::placeholder{
    color: grey;
} 
.loginSignup .btn button{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--colorBlue);
    color: white;
}
.loginSignup .btn button:hover{
    cursor: pointer;
    background-color: blue;
}
.loginSignup .login{
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
}
.loginSignup .login a{
    color: var(--colorBlue);
}
.loginSignup .or{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginSignup .or span.line{
    height: 1.2px;
    width: 100%;
    background-color: grey;
}
.loginSignup .or span.txt{
    padding: 0 13px;
    font-size: 13px;
}
.loginSignup .comp{
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.558);
    border-radius: 5px;
}
.loginSignup .comp:hover{
    background-color: rgba(242, 234, 234, 0.326);
    cursor: pointer;
}
.loginSignup .comp i{
    margin-right: 15px;
}
.loginSignup .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
}
.loginSignup .footer a{
    color: var(--colorBlue);
}
.loginSignup .footer span{
    padding: 0 10px;
    color: grey;
}
@media screen and (max-width:370px) {
    .loginSignup{
        padding: 10px;
    }
    .loginSignup .head h1{
        font-size: 22px;
    }
    .loginSignup .comp{
        margin: 10px 0;
        font-size: 14px;
        padding: 10px 12px;
    }
}
/* ============================================================== */



















/* ========================== Main ============================== */
.main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow:hidden;
}
/* *********** Left Box */
.main .left{
    position: relative;
    z-index: 111111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    width: 250px;
    background-color: black;
}
.main .left.translateLeft{
    transform: translate(-250px);
}
.main .left i.arrow{
    position: absolute;
    top: 48%;
    right: -15px;
    color: rgb(103, 99, 99);
    font-size: 22px;
    z-index: 1000000000;
}
.main .left i.fa-chevron-left,
.main .left i.fa-chevron-right{
    font-size: 15px;
    padding: 4px 0;
}
.main .left i.arrow:hover{
    color: #dadae1;
    cursor: pointer;
}
.main .left .upBox{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}
.main .left button{
    position: relative;
    border-radius: 5px;
    padding: 5px 7px;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
}
.main .left button:hover{
    background-color: #202123;
    cursor: pointer;
}
.main .left button.new.mobile{
    transform: translateX(300px) !important;
}
.main .left button.new img{
    margin-right: 7px;
    height: 28px;
}
.main .left button.new i{
    position: absolute;
    right: 7px;
}
.main .left button.new.nohide{
    position: relative;
    z-index: 111111;
    transform: translate(250px);
    border: 1px solid rgba(255, 255, 255, 0.143);
}
.main .left .upBox .history{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main .left .upBox .history .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}
.main .left .upBox .history .content::-webkit-scrollbar {
    width: 4px;
 }
.main .left .upBox .history .content::-webkit-scrollbar-track {
    background: #000000;
}
  
.main .left .upBox .history .content::-webkit-scrollbar-thumb{
    background: #191919;
}
.main .left .upBox .history .content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.main .left .upBox .history .content div{
    line-height: 1.1;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: white;
    padding: 6px 7px;
    border-radius: 5px;
    overflow: hidden;
}
.main .left .upBox .history .content div:hover{
    background-color: #202123;
    cursor: pointer;
}
.main .left .upBox .history .title{
    font-size: 12px;
    font-weight: 700;
    color: #636363;
    padding: 4px 7px;
    padding-bottom: 12px;
}
.main .left button.user img{
    margin-right: 7px;
    height: 28px;
}
/* ************ Right Box */
.main .right{
    height: 100%;
    width: calc(100% - 250px);
    background-color: #343541;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    padding-top: 90px;
    transition: opacity 0s ease;
}
.main .right.flexEnd{
    justify-content: flex-end;
}
.main .right.spaceBtwn{
    justify-content: space-between;
    gap: 15px;
}
.main .right.translateLeft{
    position: fixed;
    width: 100vw !important;
    transition: width 0.5s ease;
}
.main .right.hide{
    opacity: 0;
}
.main .right .newchat{
    width: 100%;
}
/* ************* logoHead */
.main .right .logoHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 120px;
}
.main .right .logoHead img{
    width: 65px;
}
.main .right .logoHead h3{
    font-size: 20px;
    color: white;
}
/* ****************** Suggestion */
.main .right .suggestion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.main .right .suggestion .roww{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.main .right .suggestion .roww div{
    width: 50%;
    max-width: 320px;
    position: relative;
    border: 1.3px solid rgba(255, 255, 255, 0.143);
    border-radius: 10px;
    padding: 15px;
    color: #838390;
}
.main .right .suggestion .roww div:hover{
    background-color: #40414F;
    cursor: pointer;
}
.main .right .suggestion .roww div h6.top{
    color: #C5C5D2;
}
.main .right .suggestion .roww i{
    border-radius: 7px;
    background-color: #202123;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 35%;
    right: 17px;
    padding: 6px 6px;
    display: none;
}
/* *************** Input Box */
.main .right  .inputBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    max-width: 690px;
    margin-top: 13px;
    padding-bottom: 10px;
}
.main .right  .inputBox .inp{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main .right  .inputBox .inp i{
    font-size: 15px;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 6px 6px;
}
.main .right  .inputBox .inp i:hover{
    cursor: pointer;
}
.main .right  .inputBox .inp i.micro{
    left: 15px;
    padding: 6px 8.5px;
    
}
.main .right  .inputBox .inp i.send{
    right: 15px;
}
.main .right  .inputBox .inp i.send.canSend:hover{
    opacity: 0.7;
}
.main .right  .inputBox .inp i.send.canSend{
    background-color: #1586DC !important;
    color: white !important;
}
.main .right  .inputBox .inp i.send.error{
    background-color: #dc1010 !important;
    color: white !important;
}

/* *************** Auto resize text area */
.main .right  .inputBox .inp textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 55px;
    border-radius: 14px;
    background-color: transparent;
    border: 1.3px solid rgba(255, 255, 255, 0.143);
    color: white;
    resize: none;
    max-height: 150px;
    min-height: 41px !important;
    resize: none;
    caret-color: #4671EA;
}
.main .right  .inputBox .inp textarea::placeholder{
    color: #b3b3b3;
}
.main .right  .inputBox .inp textarea:is(:focus, :valid){
    border: 2px solid #1586DC;
}
.main .right  .inputBox .inp textarea::-webkit-scrollbar{
    width: 0px;
}
.main .right  .inputBox h6{
    color: #C5C5D2;
    font-size: 10px;
    font-weight: 500;
} 

/* ***************** Loadwindow */
.main .right .loadWindow{
    width: 100%;
    max-width: 690px;
    height: 100%;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    color: white;
}
.main .right .loadWindow .ques-ans{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    letter-spacing: -0.8px;
    color: white;
}
.main .right .loadWindow::-webkit-scrollbar {
    width: 4px;
 }
.main .right .loadWindow::-webkit-scrollbar-track {
    background: var(--colorBgtheme);
}
  
.main .right .loadWindow::-webkit-scrollbar-thumb{
    background: #787777;
}
.main .right .loadWindow::-webkit-scrollbar-thumb:hover {
    background: #908f8f;
    cursor: pointer;
}
.main .right .loadWindow .ques .you{
    display: flex;
    align-items: center;
}
.main .right .loadWindow .ques .you img{
    width: 21px;
    margin-right: 10px;
}
.main .right .loadWindow .ques .you span{
    font-size: 15px;
    font-weight: 700;
    color: #1586DC;
}
.main .right .loadWindow .ques .content{
    padding: 0 31px;
    font-size: 15px;
}
.main .right .loadWindow .ques .content textarea{
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    background-color: transparent;
    color: white;
}
.main .right .loadWindow .ques .content textarea::-webkit-scrollbar {
    width: 0;
}
.main .right .loadWindow .ques .edit{
    position: relative;
    padding-left: 31px;
    margin-top: 5px;
}
.main .right .loadWindow .ques .edit .btn{
    visibility: hidden;
}
.main .right .loadWindow .ques .edit i.visible{
    visibility: visible !important;
}
.main .right .loadWindow .ques .edit i.hidden{
    display: none;
}
.main .right .loadWindow .ques .edit .btn:hover{
    cursor: pointer;
    transition: all 0.1s ease;
}
.main .right .loadWindow .ques .edit i{
    visibility: hidden;
    color: gray;
}
.main .right .loadWindow .ques .edit i:hover{
    cursor: pointer;
    color: rgb(209, 206, 206);
}
.main .right .loadWindow .ques .edit span{
    background-color: #1586DC;
    font-size: 13px;
    padding: 4px 6px;
    border-radius: 6px;
}
.main .right .loadWindow .ques .edit span.visible{
    visibility: visible !important;
}

.main .right .loadWindow .ans .you{
    display: flex;
    align-items: center;
}
.main .right .loadWindow .ans .you img{
    width: 21px;
    margin-right: 10px;
}
.main .right .loadWindow .ans .you span{
    font-size: 15px;
    font-weight: 700;
    color: #1586DC;
}
.main .right .loadWindow .ans .content{
    padding: 0 31px;
    font-size: 15px;
}
.main .right .loadWindow .ans .content textarea{
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    background-color: transparent;
    color: white;
}
.main .right .loadWindow .ans .content textarea::-webkit-scrollbar {
    width: 0;
}
.main .right .loadWindow .ans .edit{
    position: relative;
    padding-left: 31px;
    margin-top: 5px;
}
.main .right .loadWindow .ans .edit i{
    color: gray;
    transition: all 0.5s ease;
}
.main .right .loadWindow .ans .edit i:hover{
    cursor: pointer;
    color: rgb(209, 206, 206);
}

/*  */
@media screen and (max-width:450px) {
    .main .left i.arrow{
        top: 27px;
        font-size: 22px;
    }
    .main .left i.fa-chevron-left{
        font-size: 15px;
        padding: 4px 0;
    }
    .main .left i.fa-chevron-right,
    .main .left i.fa-bars{
        right: -45px;
        font-size: 15px;
        border: 1px solid rgba(255, 255, 255, 0.143);
        padding: 5px 8px;
        border-radius: 5px;
    }
}
@media screen and (max-width:850px){
    .main .right .suggestion .roww{
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
    .main .right .suggestion .roww div{
        width: 100%;
        max-width: 700px;
        position: relative;
        border: 1.3px solid rgba(255, 255, 255, 0.143);
        border-radius: 10px;
        padding: 15px;
        color: #838390;
    }
}
@media screen and (max-width:451px){
    .main .right .suggestion .roww:first-child{
        display: none;
    }
    .main .right  .inputBox h6{
        font-size: 8px;
        font-weight: 500;
    } 
    .main{
        overflow: hidden !important;
    }
}
/* ================================================ */



